body{
width: 100%;
height: 100%;
margin: 0 auto;
font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.logo ul {
   background-color: black;
   width: 100%;
   height: 85px;
   text-align: center;
}

.header {
  background-color: #ffffff;  
  width: 100%;
  border-bottom: 3px solid #efefef;
}

.menu li {
display: inline-block;
margin: 0 auto;
color: #8b8b8b;
font-size: 18px;
margin-left: 20px;
height: 20px;
text-decoration: none;
}

.menu li a:hover {
  border-bottom: 3px solid #00bac6;
  text-decoration: none;
}

#decoration {
  text-decoration: none;
  color: black;
  padding-right: 4px;
}

.header2 {
  padding: 10px;
}

#noruega {
  padding-left: 30px;
 
}

.noruega {
  padding-left: 30px; 
}

.fora {
  padding-left: 30px; 
}


.box {
  overflow: hidden;
}

.box:hover .noruega{
  transform: scale(1.1);
}

a:link {
  text-decoration: none;
}

#fonte {
  color: black;
  text-align:left;
  text-decoration: none;
}

.lado {
  padding-left: 20px;
  padding-right: 20px;
  text-align: justify;
 }

 #nor2 {
  padding-left: 50px;
  
 }

 #nor3 {
  padding-left: 190px;
  
 }

 #noruegap {
  text-align: justify;
  padding-left: 20px;
 }

 #noruegap1 {
  text-align: justify;
 
 }

 #fundo {
  background-color: #c5c4c4;
 }


 /*. .container {
    height: 600px;
    width: 600px;
  }


 .lado2 {

 }

 .lado2, p {
  text-align: justify;
  display: inline-flex;
  padding-left: 20px;
  padding-right: 20px;
   }

   #noruega{
    padding-left: 60px;
  font-size: 12px;
   }

   .lado3{
    text-align: justify;
    display: inline-flex;
    padding-left: 20px;
    padding-right: 20px;
     }

  #id1 {
    text-align: left, justify;
    padding-left: 100px;
    padding: 200px;
  }

  #laele {
    text-align: left;

  font-size: 12px;
   }

   .lado4{
    text-align: justify;
    display: inline-flex;
    padding-left: 20px;
    padding-right: 20px;
     }

     #bola{
      padding-left: 640px;
     }

.id1 {
    width: 5px;
    height: 32px;
    background-color: #00853B;
    border: #D47402 2px;
}*/

