body{
width: 100%;
height: 100%;
margin: 0 auto;
font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.logo ul {
   background-color: black;
   width: 100%;
   height: 85px;
   text-align: center;
}

.header {
  background-color: #ffffff;  
  width: 100%;
  border-bottom: 3px solid #efefef;
}

.menu li {
display: inline-block;
margin: 0 auto;
color: #8b8b8b;
font-size: 18px;
margin-left: 20px;
height: 20px;
text-decoration: none;
}

.menu li a:hover {
  border-bottom: 3px solid #00bac6;
  text-decoration: none;
}

#decoration {
  text-decoration: none;
  color: black;
  padding-right: 4px;
}

.header2 {
  padding: 10px;
}

#noruega {
  padding-left: 30px;
 
}

.noruega {
  padding-left: 30px; 
  
}

/*.noruega img {
  border-radius: 10px;
}*/

.fora {
  padding-left: 30px; 
}


.box {
  overflow: hidden;
}

.box:hover .noruega{
  transform: scale(1.1);
  transition: .5s;
}

a:link {
  text-decoration: none;
}

#fonte {
  color: black;
  text-align:left;
  text-decoration: none;
}

.lado {
  padding-left: 20px;
  padding-right: 20px;
  text-align: justify;
 }

 #nor2 {
  padding-left: 50px;
  
 }

 #nor3 {
  padding-left: 190px;
  
 }

 #nor4 {
  padding-left: 190px;
 }

 #noruegap {
  text-align: justify;
  padding-left: 20px;
 }

 #noruegap1 {
  text-align: justify;
 
 }

 #noruegap2 {
  text-align: justify;
 padding-left: 230px;
 padding-right: 240px;
 }

 #fundo {
  background-color: #c5c4c4;
 }

 #imgafc{
  padding-left: 50px;
 }

 .caf {
  display: inline-flex;
 }

 .cafimg {
  padding-left: 220px;
 }

 .cafp {
  padding: 25px;
  padding-left: 30px;
 padding-right: 237px;
 text-align: justify;
 }

 .afc {
  display: inline-flex;
 }

 .afcimg {
  padding-left: 220px;
 }

 .afcp {
  padding: 10px;
  padding-left: 30px;
 padding-right: 237px;
 text-align: justify;
 }

 .uefa {
  display: inline-flex;
 }

 .uefaimg {
  padding-left: 220px;
 }

 .uefap {
  padding: 30px;
  padding-left: 30px;
 padding-right: 237px;
 text-align: justify;
 }

 .concacaf {
  display: inline-flex;
 }

 .concacafimg {
  padding-left: 200px;
 }

 .concacafp {
  padding: 30px;
  padding-left: 20px;
 padding-right: 237px;
 text-align: justify;
 }

 .ofc {
  display: inline-flex;
 }

 .ofcimg {
  padding-left: 220px;
 }

 .ofcp {
  padding: 30px;
  padding-left: 50px;
 padding-right: 237px;
 text-align: justify;
 }

 .conmebol {
  display: inline-flex;
 }

 .conmebolimg {
  padding-left: 200px;
 }

 .conmebolp {
  padding: 30px;
  padding-left: 50px;
 padding-right: 237px;
 text-align: justify;
 }

  #nor5 {
    padding-left: 170px;
  }

  .qatar {
 -webkit-filter: drop-shadow(0px 0px 20px rgba(0 0 0 / 90%));
 filter: drop-shadow(0px 0px 20px rgba(0 0 0 / 90%));
 padding-left: 25px;
  }

  #qatarimg {
    border-radius: 10px;
  }

  #qatarp {
    padding: 10px;
    padding-left: 85px;
    font-weight: bold;
  }

  #equadorp {
    padding: 10px;
    padding-left: 71px;
    font-weight: bold;
  }

  #senegalp {
    padding: 10px;
    padding-left: 71px;font-weight: bold;
  }

  #holandap {
    padding: 10px;
    padding-left: 71px;font-weight: bold;
  }

  
  #inglaterrap {
    padding: 10px;
    padding-left: 65px;
    font-weight: bold;
  }

  #irap {
    padding: 10px;
    padding-left: 88px;
    font-weight: bold;
  }

  #euap {
    padding: 10px;
    padding-left: 88px;
    font-weight: bold;
  }

  #galesp {
    padding: 10px;
    padding-left: 53px;
    font-weight: bold;
  }

  
  #argentinap {
    padding: 10px;
    padding-left: 65px;
    font-weight: bold;
  }

  #arabiap {
    padding: 10px;
    padding-left: 42px;
    font-weight: bold;
  }

  #mexicop {
    padding: 10px;
    padding-left: 71px;
    font-weight: bold;
  }

  #poloniap {
    padding: 10px;
    padding-left: 75px;
    font-weight: bold;
  }

  
  #francap {
    padding: 10px;
    padding-left: 75px;
    font-weight: bold;
  }

  #dinamarcap {
    padding: 10px;
    padding-left: 62px;
    font-weight: bold;
  }

  #australiap {
    padding: 10px;
    padding-left: 67px;
    font-weight: bold;
  }

  #tunisiap {
    padding: 10px;
    padding-left: 78px;
    font-weight: bold;
  }

  #espanhap {
    padding: 10px;
    padding-left: 71px;
    font-weight: bold;
  }

  #costap {
    padding: 10px;
    padding-left: 62px;
    font-weight: bold;
  }

  #japaop {
    padding: 10px;
    padding-left: 80px;
    font-weight: bold;
  }

  #alemanhap {
    padding: 10px;
    padding-left: 65px;
    font-weight: bold;
  }

  #belgicap {
    padding: 10px;
    padding-left: 70px;
    font-weight: bold;
  }

  #canadap {
    padding: 10px;
    padding-left: 70px;
    font-weight: bold;
  }

  #croaciap {
    padding: 10px;
    padding-left: 75px;
    font-weight: bold;
  }

  #marrocosp {
    padding: 10px;
    padding-left: 65px;
    font-weight: bold;
  }

  #brasilp {
    padding: 10px;
    padding-left: 77px;
    font-weight: bold;
  }

  #serviap {
    padding: 10px;
    padding-left: 78px;
    font-weight: bold;
  }

  #suicap {
    padding: 10px;
    padding-left: 77px;
    font-weight: bold;
  }

  #camaroesp {
    padding: 10px;
    padding-left: 63px;
    font-weight: bold;
  }

  #portugalp {
    padding: 10px;
    padding-left: 75px;
    font-weight: bold;
  }

  #uruguaip {
    padding: 10px;
    padding-left: 73px;
    font-weight: bold;
  }

  #coreiap {
    padding: 10px;
    padding-left: 48px;
    font-weight: bold;
  }

  #ganap {
    padding: 10px;
    padding-left: 78px;
    font-weight: bold;
  }

   /*CONMENBOL*/

   #venezuela{
  padding-left: 10px;
  width: 45px;
    height: 30px;
   }

   #bolivia{
    padding-left: 20px;
    width: 55px;
    height: 30px;
     }

     #bolivia1{
      padding-left: 20px;
       }

       #bolivia2{
        padding-left: 13px;
         }

#bolivia3{
 padding-left: 18px;
 }

 #bolivia4{
  padding-left: 17px;
  }
  
  #bolivia5{
    padding-left: 13px;
    }

    #bolivia6{
      padding-right: 10px;
      }

      #nor5 {
        padding-right: 130px;
       }

  .prim {
   width: 10px;
   height: 10px;
   border: 5px solid green;
   display: inline-flex;
  }

  .prim2 {
    width: 10px;
    height: 10px;
    border: 5px solid blue;
    display: inline-flex;
   }

   .prim3 {
    width: 10px;
    height: 10px;
    border: 5px solid gray;
    display: inline-flex;
   }

   .prim4 {
    display: inline-flex;
   }

   .prim5 {
    width: 15px;
    height: 15px;
    border: 10px solid green;
    display: inline-flex;
   }

   .prim6 {
    width: 15px;
    height: 15px;
    border: 10px solid blue;
    display: inline-flex;
   }

   .prim7 {
    width: 15px;
    height: 15px;
    border: 10px solid gray;
    display: inline-flex;
   }

   #oi {
  padding-left: 4px;
   }

     /*Fase de Grupos*/
     #nor8 {
      padding-left: 200px;
     }

     .prim8 {
      width: 10px;
      height: 10px;
      border: 5px solid red;
      display: inline-flex;
     }

     .prim9 {
      width: 15px;
      height: 15px;
      border: 10px solid red;
      display: inline-flex;
     }

     .tunisia{
      padding-left: 10000px;
     }


  /*caf

  .chave1 {
    display: inline-flex;
  }

  .cafimg {
    padding-left: 220px;
   }

   .caf1img {
    padding-right: 700px;
   }

   #h6p {
    padding-left: 220px;
   }

   #h6p1 {
    padding-left: 440px;
   }
  
   #chavep1 {
    padding: 10px;
    padding-left: 30px;
   padding-right: 23px;
   font-weight: bold;
   font-size: 25px;
   }

   #chavep2 {
    padding: 10px;
    padding-left: 30px;
   padding-right: 23px;
   font-weight: bold;
   font-size: 25px;
   }

  .chavep1 {
    padding-left: 15px;
    font-weight: bolder;
    padding: 5px;
  }

  .chavep2 {
    padding-left: 20px;
    font-weight: bolder;
    padding: 5px;
  }

  #qatarcaf {
    -webkit-filter: drop-shadow(0px 0px 20px rgba(0 0 0 / 90%));
    filter: drop-shadow(0px 0px 20px rgba(0 0 0 / 90%));
    border-radius: 10px;
     }

  .cafimg2 {
    padding-left: 620px;
   }

   .caf2img {
    padding-right: 1200px;
   }
   
   #chave1p2 {
    padding: 10px;
    padding-left: 30px;
   padding-right: 23px;
   font-weight: bold;
   font-size: 25px;
   } */
   

 /*. .container {
    height: 600px;
    width: 600px;
  }


 .lado2 {

 }

 .lado2, p {
  text-align: justify;
  display: inline-flex;
  padding-left: 20px;
  padding-right: 20px;
   }

   #noruega{
    padding-left: 60px;
  font-size: 12px;
   }

   .lado3{
    text-align: justify;
    display: inline-flex;
    padding-left: 20px;
    padding-right: 20px;
     }

  #id1 {
    text-align: left, justify;
    padding-left: 100px;
    padding: 200px;
  }

  #laele {
    text-align: left;

  font-size: 12px;
   }

   .lado4{
    text-align: justify;
    display: inline-flex;
    padding-left: 20px;
    padding-right: 20px;
     }

     #bola{
      padding-left: 640px;
     }

.id1 {
    width: 5px;
    height: 32px;
    background-color: #00853B;
    border: #D47402 2px;
}*/

